[submodule "PIRAMIDE-MOBILE-SIMPLE"]
	path = PIRAMIDE-MOBILE-SIMPLE
	url = https://github.com/mfuentespagliero/PIRAMIDE-MOBILE.git
	branch = main
[submodule "IMPOSTOR-MOBILE"]
	path = IMPOSTOR-MOBILE
	url = https://github.com/mfuentespagliero/IMPOSTOR-MOBILE.git
	branch = main
[submodule "CUARTO-REY-MOBILE"]
	path = CUARTO-REY-MOBILE
	url = https://github.com/mfuentespagliero/CUARTO-REY-MOBILE.git
	branch = main
[submodule "LA-BOTELLITA-MOBILE"]
	path = LA-BOTELLITA-MOBILE
	url = https://github.com/mfuentespagliero/la-botellita-mobile.git
	branch = main
